<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.csm.mapper.AdminMapper">

<select id="userList" resultType="org.csm.domain.MemberVO">
	select * from haengbok_member
</select>
<select id="borrowList" resultType="org.csm.domain.EbookVO">
	select
		ebooks.ebookNo, ebooks.ebookTitle, borrowed.userid, borrowed.regdate, borrowed.deadline
	from
		ebooks right outer join borrowed on ebooks.ebookNo = borrowed.ebookNo
	order by regdate asc
</select>
</mapper>